nodered_template
[{"id":"4dea1f75.8a9e6","type":"debug","z":"8fb8b877.9d13f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":120,"wires":[]},{"id":"65949a9c.49edc4","type":"file","z":"8fb8b877.9d13f8","name":"","filename":"/home/pi/hey-watson/speech.wav","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1020,"y":60,"wires":[["bd00140d.402d1"]]},{"id":"93075899.f37988","type":"microPi","z":"8fb8b877.9d13f8","name":"microPi","filename":"/home/pi/hey-watson/speech.wav","domain":"http://localhost:1880","rate":"16000","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"2","silence":"10","debug":true,"mode":"666","x":740,"y":80,"wires":[[],["65949a9c.49edc4"],["4dea1f75.8a9e6"]]},{"id":"715bd6df.1d19b8","type":"inject","z":"8fb8b877.9d13f8","name":"record","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":80,"wires":[["93075899.f37988"]]},{"id":"1e7f49af.e4af1e","type":"inject","z":"8fb8b877.9d13f8","name":"stop recording","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":220,"wires":[["93075899.f37988"]]},{"id":"bd00140d.402d1","type":"watson-speech-to-text","z":"8fb8b877.9d13f8","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/026a4d54-0af2-43a6-a8b2-f312492d046f","x":1220,"y":120,"wires":[["6655dc19.6cc024","c14e8f8f.d03a58","33cbf91e.8c0636"]]},{"id":"6655dc19.6cc024","type":"debug","z":"8fb8b877.9d13f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1410,"y":100,"wires":[]},{"id":"97b4bfd4.5000c8","type":"watson-text-to-speech","z":"8fb8b877.9d13f8","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelV3Voice","voicehidden":"en-US_MichaelV3Voice","format":"audio/wav","password":"","apikey":"","payload-response":false,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/38604f6b-d89d-46c4-a0ce-247994b4e648","x":1040,"y":180,"wires":[["63f305f4.1430dc"]]},{"id":"f67ba675.b5db8","type":"file","z":"8fb8b877.9d13f8","name":"Create response WAV","filename":"/home/pi/temp/speech.wav","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1460,"y":160,"wires":[[]]},{"id":"63f305f4.1430dc","type":"function","z":"8fb8b877.9d13f8","name":"Format Speech","func":"msg.payload = msg.speech\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":220,"wires":[["f67ba675.b5db8","bb995989.884a58"]]},{"id":"bb995989.884a58","type":"file in","z":"8fb8b877.9d13f8","name":"Read WAV","filename":"/home/pi/temp/speech.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":1470,"y":220,"wires":[["6e71a72b.a92bb8"]]},{"id":"6e71a72b.a92bb8","type":"exec","z":"8fb8b877.9d13f8","command":"aplay /home/pi/temp/speech.wav","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play Audio (trigger aplay)","x":1230,"y":280,"wires":[[],[],[]]},{"id":"408e720f.e1dea4","type":"inject","z":"8fb8b877.9d13f8","name":"debug node for tts","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":280,"wires":[["c14e8f8f.d03a58"]]},{"id":"c1be3dfc.967628","type":"html","z":"8fb8b877.9d13f8","name":"html parser","property":"payload","outproperty":"payload","tag":"p","ret":"text","as":"single","x":970,"y":420,"wires":[["2500c15e.ea8336","70c7e5fe.41957c"]]},{"id":"2500c15e.ea8336","type":"file","z":"8fb8b877.9d13f8","name":"Create COVID news dataset","filename":"/home/pi/hey-watson/corona.csv","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1460,"y":360,"wires":[[]]},{"id":"d097c7c5.dfcf1","type":"inject","z":"8fb8b877.9d13f8","name":"debug node for data parse/clean","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":360,"wires":[["de7e0a00.4dc16"]]},{"id":"de7e0a00.4dc16","type":"http request","z":"8fb8b877.9d13f8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.cdc.gov/coronavirus/2019-ncov/covid-data/covidview/index.html","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":280,"wires":[["c1be3dfc.967628"]]},{"id":"f7960116.f7f2","type":"debug","z":"8fb8b877.9d13f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1350,"y":520,"wires":[]},{"id":"70c7e5fe.41957c","type":"exec","z":"8fb8b877.9d13f8","command":"python3 /home/pi/hey-watson/datacleanse.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Clean dataset","x":1240,"y":440,"wires":[["cd19c970.9c42a"],[],[]]},{"id":"3b24d17.50416ae","type":"inject","z":"8fb8b877.9d13f8","name":"debug cleaner","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":520,"wires":[["70c7e5fe.41957c"]]},{"id":"61bc12ce.4a370c","type":"csv","z":"8fb8b877.9d13f8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":1130,"y":560,"wires":[["f7960116.f7f2","553f01fa.562db8"]]},{"id":"cd19c970.9c42a","type":"file in","z":"8fb8b877.9d13f8","name":"Read clean dataset","filename":"/home/pi/hey-watson/cleaned.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1430,"y":420,"wires":[["61bc12ce.4a370c"]]},{"id":"553f01fa.562db8","type":"function","z":"8fb8b877.9d13f8","name":"Convert JSON Obj to String","func":"//var t = JSON.parse(msg.payload);\n//msg.payload = t['col2'];\n\n//makes entire object a string... need only values\n//var myJSON = JSON.stringify(msg.payload);\n//msg.payload = myJSON;\n\nmsg.payload = msg.payload.col2;\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":620,"wires":[["d6ea38da.ca235","97b4bfd4.5000c8"]]},{"id":"d6ea38da.ca235","type":"debug","z":"8fb8b877.9d13f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":560,"wires":[]},{"id":"c14e8f8f.d03a58","type":"function","z":"8fb8b877.9d13f8","name":"Check transcript for keywords","func":"var trans = msg.transcription;\nif (trans.includes(\"coronavirus\") && trans.includes(\"news\")){\n    msg.payload = \"Hey Elvin. Here is the latest coronavirus weekly news update as expressed by the CDC.\"\n}\nelse{\n    msg.payload = \"My name is not Watson. I am HAL 9000. I'm sorry, Elvin. I'm afraid I cannot do that. I think you know what the problem is just as well as I do.\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":180,"wires":[["de7e0a00.4dc16","97b4bfd4.5000c8"]]},{"id":"33cbf91e.8c0636","type":"debug","z":"8fb8b877.9d13f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","x":1440,"y":40,"wires":[]}]
